<% unless comment.archived? %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p>
        <%= link_to "ลบความคิดเห็น", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "แน่ใจหรือไม่?"
                } %>

  </p>
<% end %>
